# Build artifacts
.zig-cache/
zig-cache/
zig-out/

# Optional: editor/project files
*.swp
*.swo
*.log

# Zig test temp files (if any custom ones are used)
*.tmp

# Dependency packages (if using package manager that clones to folder)
.zigmod/

# Added by goreleaser init:
dist/
.intentionally-empty-file.o
