name: Release

on:
  push:
    tags:
      - '*'

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Set version
      run: |
        export TAG="${{ github.ref_name }}"
        echo "VERSION=${TAG#v}"
        echo "VERSION=${TAG#v}" >> $GITHUB_ENV

    - name: Get version
      run: |
        echo "$VERSION"

    - name: Install build dependencies
      run: |
        export DEBIAN_FRONTEND=noninteractive 
        sudo apt update 
        sudo apt install -y pkg-config libsystemd-dev

    - uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: "nightly"
        args: release --clean --timeout 80m
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


